.live-games-container {
  border: 1px solid darkgray;
  padding: 1em;
  display: flex;
  flex-direction: column-reverse;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(235,241,246); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(235,241,246,1) 0%, rgba(171,211,238,1) 75%, rgba(137,195,235,1) 100%, rgba(213,235,251,1) 100%, rgba(137,195,235,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 75%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%,rgba(137,195,235,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(235,241,246,1) 0%,rgba(171,211,238,1) 75%,rgba(137,195,235,1) 100%,rgba(213,235,251,1) 100%,rgba(137,195,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#89c3eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  margin-bottom: .3em;
  .league-container {
    .league-header {
      font-weight: bold;
      color: white;
      background: rgb(59,103,158); /* Old browsers */
      background: -moz-linear-gradient(-45deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 92%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 92%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 92%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      td {
        padding: .3em;
      }
    }
    .league-games-container {
      .game-container {
        td {
          padding: .5em;
        }
        .game-info {
          cursor: pointer;
        }
      }
    }
  }
  .close {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-bottom: .2em;
    cursor: pointer;
  }
}